* {
    box-sizing: border-box;
  }

header {
    display: flex; 
    /* align-items: center; */
    
}
                /* title */
h1 {        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 2em;
        font-weight: bold;
        border: 1px  solid black;
        background-color: turquoise;
        border-width: 5px 0 15px 0;
        width: 30%;
        padding: 5px;
        text-align: right;
    
    }
                 /* title flexbox */
/* .title-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */
                    /* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.1vw;
    border: 1px solid black;
    float: right;
    width: 70%;
    background-color: black;
    text-align: right;
    padding: 30px 70px 30px 30px;
    
}

            /* nav flexbox */
/* .nav-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */
            /* nav links */ 
nav a {
    margin: 10px;  
    color: turquoise;
    font-size: 1.5em;
} 

img {
    height: 20vh;
    text-align: left;
    margin-right: 8vw;
}
                    /* banner text */
#banner {              
    /* display: flex;
    flex-wrap: wrap; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid rgb(0, 157, 255); 
    background-color: rgb(0, 157, 255) ;
    width: 100%;
    height: 26vh;
    padding: 10px 60px 10px 0;
    font-size: 24px;
    
}

/* aside h2 {
    font-size: 28px;
} */        
            /* banner text */
.banner-text {      
    display: flex;
    justify-content: center;
    border: 1px solid turquoise;
    background-color: turquoise;
    width: 24%;
    text-align: center;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
                /* about me */
.section-titles {                
    font-size: 7vh;
    width: 25%;

    padding-right: 2vw;
    /* padding: 7px 20px 50px 70px; */
    border-right: 3px solid black;
    /* display: flex; */
    /* justify-content: flex-end; */
    margin-top: 4vh;
    text-align: right;
    
}

h2 {
    /* display: flex; */
    /* flex-direction: column; */
    
}

.paragraphs {
    
    margin: 50px 65px 20px 30px;
    border: 1px white solid;
    flex-direction: column;
    line-height: 25px;
    width: 63%;
    
    
    /* align-items: flex-end; */
}


#big-box {
    border: 3px solid turquoise;
    margin: 55px 40px 10px 35px;
    width: 65vw;
    height: 40vh;
    background-color: grey;

}
/* div {
    display: flex;
    
} */

h4 {
    display: flex;
    align-items: flex-start;
}
                /* Surf Report Box */
.mini-box-1 {       
    font-size: 3vh;
    border: solid 1px turquoise;
    background-color: turquoise;
    display: block;
    line-height: 20px;
    /* display: flex; */
    /* align-items: flex-end; */
    padding: 10px;
    margin: 20vh 50vw 1vh 0;
}

h6 {
    font-size: 1.5vh;
    
}


.small-boxes {
    border: 3px solid turquoise;
    /* margin: 55px 40px 10px 35px; */
    width: 31vw;
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: flex-start;
    
}

.mini-boxes {
    font-size: 3vh;
    border: solid 1px turquoise;
    background-color: turquoise;
    display: block;
    line-height: 2.5vh;
    padding: 1vh 1vw 15px 10px;
    margin: 2.5vh 1vw .7vh 0; 

}

/* .small-boxes-left {
    border: 3px solid turquoise; */
    /* margin: 55px 40px 10px 35px; */
    /* width: 32.5vw;
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 20px 250px;
    
} */

.small-boxes {
    border: 3px solid turquoise;
    /* margin: 55px 40px 10px 35px; */
    width: 32.5vw;
    height: 10vh;
    background-color: grey;
    /* display: flex;
    justify-content: flex-start; */
    margin: 12px 30px 12px 0;
                    /* come back here */
    
}

footer {
    display: flex;
    
}

footer a {
    color: blue;
    margin: 2.5vh 0.2vw 2.5vh 4vw;
    padding-top: 5vh;
    /* flex-wrap: wrap; */

    
}
/* .footer-links {
    justify-content: flex-end;
} */






            
            
           





            /* media queries */

            /* tablet upright */
@media screen and (max-width: 792px) {   
    h1 {
      font-size: 1.8em;
      padding-right: 5vw;

    }
  .section-titles   {
        width: 17%;
           
        }
    }
   

    /* nav a {
        font-size: 1.2em;

    
    } */

    @media screen and (max-width: 606px) {   
    h1 {
      font-size: 1.8em;
      padding-right: 5vw;

    }
    footer a {
        font-size: 2vh;
        margin-left: 5vw;
        /* text-align: right; */
        /* display: flex; */
        flex-direction: column;

    }
    
    #contact {
        padding-right: 50px;
    }
   
}

@media screen and (max-width: 475px) {   
  
    h1 {
        line-height: 50px; 
        text-align: center;
    }
    .section-titles   {
        width: 15%;
           
        }
    }
    


/* nav breakpoint */
/* @media screen and (max-width: 404px) {   
    nav a {
      /* flex-direction: column;  */
      /* font-size: 1.5em; */
      
 

/* h1 2nd breakpoint */
/* @media screen and (max-width: 420px) {  
    h1 {
      font-size: 1.8em;
    }
}  */ 
